{% extends 'journal/base.html' %}
{% block title %}My Journal{% endblock %}

{% block content %}
<h1><i>{{cnt.text}}</i></h1>

    <table style='background-color:grey' width='400'>
        <thead style='background-color:yellow'>
            <tr>
                <th>Transaction</th>
                <th>Debit</th>
                <th>Credit</th>
            </tr>
        </thead>

        <tbody style='background-color:lightgrey'>
            {% for x in cnt.debit_set.all %}
                <tr>
                    <td>{{forloop.counter}}. {{x.dbt}}</td>
                    <td>{{x.dbt_amount}}</td>
                    <td> </td>
                </tr>

                {% for y in x.credit_set.all %}
                    <tr>
                        <td style="text-indent: 25%;">{{y.cdt}}</td>
                        <td> </td>
                        <td>{{y.cdt_amount}}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            <tr style="font-weight: bold;">
                <td>Total</td>
                <td>{{left}}</td>
                <td>{{right}}</td>
            </tr>
        </tbody>
    </table>

<form method='post' action='#'>
    {% csrf_token %}

    <br><hr>
    <label for="debitTrans">Debit Transaction:</label>
    <input type="text" id="debitTrans" name="debitTrans"><br><br>

    <label for="creditTrans">Credit Transaction:</label>
    <input type="text" id="creditTrans" name="creditTrans"><br><br>

    <label for="amount">Their Amount:</label>
    <input type="text" id="amount" name="amount"><br><br>

    <input type="submit" value="submit">
</form>
<br>
<a href='{% url "journal:ledger" cnt.id %}'><button>See Ledger</button></a>
<br><br><br>

{% endblock %}