{% extends 'journal/base.html' %}

{% block title %}Ledger{% endblock %}

{% block content %}

    <h2>Ledger for <i>{{cnt.text}}</i></h1><hr>

        
    {% for key,value in t_accounts.items %}
        <table style='background-color:grey' width='400'>
            <caption><h3>{{key}}</h3></caption>
            <thead  style='background-color:yellow'>
                <tr>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody style='background-color:lightgrey' height='100'>
                <tr>
                    {% for account,nums in value.items %}
                        <td>{{nums}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <br><hr>

        {% empty %}
        <p>Sorry, no data about trial balance for <b>{{cnt.text}}</b>.</p>
        <p>Try to head to <a href="{% url 'journal:index' cnt.id %}">main entry</a></p>

    {% endfor %}

    <a href="{% url 'journal:index' cnt.id %}">
        <button>{{cnt.text}}</button>
    </a>
    <br><br>
    <a href="{% url 'journal:trial_balance' cnt.id %}">
        <button>Trial Balance</button>
    </a>

    <br><br><br>
{% endblock %}
