{% extends 'journal/base.html' %}

{% block title %}Trial Balance{% endblock %}

{% block content %}
    <h1>Trial balance for <i>{{cnt.text}}</i></h1>

    <table style='background-color:grey' width='400'>
        <thead  style='background-color:yellow'>
            <tr>
                <th>Transaction</th>
                <th>Debit</th>
                <th>Credit</th>
            </tr>
        </thead>

        <tbody style='background-color:lightgrey' height='100'>
            {% for item in tb.all %}
                <tr>
                    <td>{{item.name}}</td>
                    {% if item.accounts == 'debit' %}
                        <td>{{item.amount}}</td>
                        <td></td>
                    {% else %}
                        <td></td>
                        <td>{{item.amount}}</td>
                    {% endif %}
                </tr>

                {% empty %}
                <p>Sorry, no data about trial balance for <b>{{cnt.text}}</b>.</p>
                <p>Try <a href="{% url 'journal:ledger' cnt.id %}">Ledgers</a> or head to <a href="{% url 'journal:index' cnt.id %}">main entry</a></p>
            {% endfor %}
            
            <tr style="font-weight: bold;">
                <td>Total:</td>
                <td>{{left}}</td>
                <td>{{right}}</td>
            </tr>

        </tbody>
    </table>
    <br>
    <a href="{% url 'journal:ledger' cnt.id %}"><button>Ledger</button></a>

{% endblock %}
