<!DOCTYPE html>
<html>
<head>
	<title>hello</title>
	<style type="text/css">
		.listItem {
			font-style: italic;
			font-weight: bold;
		}
	</style>
</head>
<body>

	{% if request.user.is_authenticated %}
		<h1>{{request.user}}</h1>
	{% else %}
		<a href="{% url 'login' %}">Login</a>
	{% endif %}

	<h2> MY PORTFOLIO LIST</h2>
	
	<button onclick="window.location.href='/pfl-create'">Add Portfolio</button>

	<ul>
		{% for pfl in portfolio.all %}
			<li><h3 class="listItem"><a href="{% url 'pfldetail' pfl.id %}">{{pfl.name}}</a></h3></li>
		{% endfor %}
	</ul>

	<br>    
	<button onclick="window.location.href='/logout'">Log out</button>
</body>