{% extends "app/base.html" %}

{% block title %}Home{% endblock %}

{% block sidenav %}
	<button onclick="window.location.href='/'">Home</button>
	<button onclick="window.location.href='/pfl-create'">Add Portfolio</button>
	<button class="logout" onclick="window.location.href='/logout'">Log out</button>
{% endblock %}

{% block content %}
	<br><br><h2>MY PORTFOLIO LIST</h2><br>
	<table class="center">
		{% for pfl in portfolio.portfolio_set.all %}
			<tr>
				<td><h3><a href="{% url 'pfl-detail' pfl.id %}">{{pfl.name}}</a><h3></td>
				<td><button class="delete" onclick="window.location.href='/pfl-delete/pk={{pfl.id}}' ">Delete</button></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}