{% load app_extras %}
<!DOCTYPE html>
<html>
<head>
	<title>Details</title>
</head>
<body>

	<h1>{{pfl.name}}'s Portfolio</h1>

	{% journal_table pfl as jt %}
	<table style='background-color:grey' width='400'>
		<thead style='background-color:yellow'>
			<tr>
				<td>Date</td>
				<td>Transaction</td>
				<td>Debit</td>
				<td>Credit</td>
			</tr>
		</thead>
		<tbody style='background-color:lightgrey'>
			{% for transaction in jt.tbl %}
				<tr>
					{% for items in transaction %}
						<td>{{items}}</td>
					{% endfor %}
				</tr>
			{% endfor %}
			<tr style="font-weight: bold;">
				<td></td>
				<td>Total:</td>
				<td>{{jt.dt}}</td>
				<td>{{jt.ct}}</td>
			<tr>
		</tbody>
	</table>

	<br>

	<form method="post" action="">
		{% csrf_token %}
		<select name="dbt">
			<option disabled="" selected="" value="">Select Debit Transaction type</option>
			<option value="asset">Asset</option>
			<option value="liability">Liability</option>
			<option value="capital">Capital</option>
			<option value="accounts receivable">Accounts Receivable</option>
			<option value="accounts payable">Accounts Payable</option>
			<option value="notes receivable">Notes Receivable</option>
			<option value="notes payable">Notes Payable</option>
		</select>
        <input type="number" name="dbt-amt" placeholder="Enter Debit amount...">
		<br>
		<select name="cdt">
			<option disabled="" selected="" value="">Select Credit Transaction type</option>
			<option value="asset">Asset</option>
			<option value="liability">Liability</option>
			<option value="capital">Capital</option>
			<option value="accounts receivable">Accounts Receivable</option>
			<option value="accounts payable">Accounts Payable</option>
			<option value="notes receivable">Notes Receivable</option>
			<option value="notes payable">Notes Payable</option>
		</select>
        <input type="number" name="cdt-amt" placeholder="Enter Credit amount...">
        <br>
        <input type="date" name="trans-date">
        <br>
		<button type="submit" name="save" value="save">Save</button>
	</form>

	<a href="{% url "trial-balance" pfl.id %}">T accounts and Trial Balance</a>
</body>
</html>