{% extends "app/base.html" %}

{% block title %}Person Create{% endblock %}

{% block sidenav %}
	<button onclick="window.location.href='/'">Home</button>
	<button class="logout" onclick="window.location.href='/logout'">Log out</button>
{% endblock %}

{% block content %}
	<br>
	<h2>Create New Portfolio</h2>
	<br>
	<form class="opt" method="post" action="">
		{% csrf_token %}
		<input type="textbox" name="portfolio_name" placeholder="Portfolio Name">
		<input type="submit" value="Create">
	</form>
{% endblock %}