{% load app_extras %}
<!DOCTYPE html>
<html>
<head>
	<title>Details</title>
</head>
<body>

	<h1>{{pfl.name}}'s Portfolio</h1>
	<form method="post" action="">
		{% csrf_token %}
		{% for left_trans in pfl.debit_set.all %}
			{% for right_trans in left_trans.credit_set.all %}
				<p>{{left_trans.dbt}},,{{left_trans.amount}}/////{{right_trans.cdt}},,{{right_trans.amount}}</p>
			{% endfor %}
			<button type="submit" name="delete_this" value={{left_trans.id}}>DELETE</button><br>
		{% endfor %}
	</form>

	{% total_counter as fu %}
	<ul>
	{% for x in fu %}
		<li>{{x}}</li>
	{% endfor %}
	</ul>

	<form method="post" action="">
		{% csrf_token %}
		<select name="dbt" required>
			<option disabled="" selected="" value="">Select Debit Transaction type</option>
			<option value="asset">Asset</option>
			<option value="liability">Liability</option>
			<option value="capital">Capital</option>
			<option value="accounts receivable">Accounts Receivable</option>
			<option value="accounts payable">Accounts Payable</option>
			<option value="notes receivable">Notes Receivable</option>
			<option value="notes payable">Notes Payable</option>
		</select>
        <input type="number" name="dbt-amt" placeholder="Enter Debit amount...">
		<br>
		<select name="cdt" required>
			<option disabled="" selected="" value="">Select Credit Transaction type</option>
			<option value="asset">Asset</option>
			<option value="liability">Liability</option>
			<option value="capital">Capital</option>
			<option value="accounts receivable">Accounts Receivable</option>
			<option value="accounts payable">Accounts Payable</option>
			<option value="notes receivable">Notes Receivable</option>
			<option value="notes payable">Notes Payable</option>
		</select>
        <input type="number" name="cdt-amt" placeholder="Enter Credit amount...">
        <br>
        <input type="date" name="trans-date">
        <br>
		<button type="submit" name="save" value="save">Save</button>
	</form>
</body>
</html>