{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="{% static 'app/signup.css' %}">
</head>
<body>

	<h1>Sign Up</h1> 

	{% for message in messages %}
		<p style="color: red;">{{message}}</p>
	{% endfor %}

	<form method="post">
		{% csrf_token %}
		<fieldset>
			{{form.as_table}}
		</fieldset>
		<button type="submit" name="signup">Sign Up</button>
		<button onclick="location.href = '/login'" class="nxt-pg">Login your Account</button>
	</form>

</body>
</html>