{% load app_extras %}
<!DOCTYPE hmtl>
<html>
    <head>
        <title>Trial Balance</title>
    </head>
    <body>

        <div id="trial-balance">
            <h1>{{name}}'s Trial Balance</h1>
            <table>
                <tr>
                    <th>Transaction</th>
                    <th>Debit</th>
                    <th>Credit</th>
                </tr>
                {% for trans in tb %}
                    <tr>
                        {% for item in trans %}
                            <td>{{item}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        <br><br>

        <div id="t-account">
            <h1>{{name}}'s T Accounts</h1>
        </div>

        <script>
                var tAccount = JSON.parse("{{ta|escapejs}}");
                dataNode = document.getElementById('t-account');
                for (const trans in tAccount) {
                    const transTable = document.createElement("table");
                    const transCaption = document.createElement("caption");
                    const transRow = document.createElement("tr");
                    const transDb = document.createElement("td");
                    const transCd = document.createElement("td");
                    transCaption.innerText = trans;
                    transDb.innerText = 'DEBIT';
                    transCd.innerText = 'CREDIT';
                    transRow.appendChild(transDb);
                    transRow.appendChild(transCd);
                    transTable.appendChild(transCaption);
                    transTable.appendChild(transRow);

                    tAccount[trans].forEach (data => {
                        console.log(data);
                        const tableRow = document.createElement("tr");
                        const tableDb = document.createElement("td");
                        const tableCd = document.createElement("td");

                        if (data > 0 ) {
                            tableDb.innerText = data;
                            tableCd.innerText = '';
                        }

                        else if (data < 0 ) {
                            tableDb.innerText = '';
                            tableCd.innerText = data;
                        }

                        tableRow.appendChild(tableDb);
                        tableRow.appendChild(tableCd);
                        transTable.append(tableRow);
                    });
                    
                    dataNode.appendChild(transTable);
                    spc = document.createElement("br");
                    dataNode.appendChild(spc);
                }
        </script>
    </body>
</html>