body {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 50px;
    background-color: #005c6b;
    color: #fcc861;
    font-family: Tahoma;
    font-size: 16px;
}

.main{
    margin-left: 160px;
    padding: 0px 10px;

}

.list-item {
    font-style: italic;
    font-weight: bold;
}

.sidenav {
    width: 140px;
    height: 29vh;
    position: relative;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 1em; 
    margin-left: 0.5em;
    border-radius: 9px;
    border: transparent;
}

.sidenav button {
    padding: 3px 7px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    font-size: 1.1rem;
    color: #8b7272;
    display: block;
    width: 87%;
    min-width: 45px;
    max-width: 300px;
    background-color: #9affff;
    color: #004291;
    border-color: white;
    border-radius: 6px;
    border: transparent;
}

.sidenav button:hover {
    background-color: #4aadad;
    color: #ffe600;
}

.sidenav .logout {
    width: 84%;
    border-radius: 13px;
    background-color: #4aadad;
    color: #f7e226;
}

.sidenav .logout:hover {
    background-color: crimson;
    color: #ffe600;
}

.username {
    text-align: right;
    margin-right: -10.7em;
    margin-top: 1em;
}